$green-color: #61A300;
$brightGreen-color: #85E000;
$text-color: #000000;
$bg-color: #F8FFEF;
$white-color: #FFF;
$darkGreen-color: #00502B;
$red-color: #FF3B3B;
$primaryGreen-color: #00D673;
$lightGreen-color: #EEFFD4;
$border-color-btn: #A3A2A2;


$full-screen : 100%;
$full-height-screen: 100vh;

$title-size: 28px;
$default-fontSize: 16px;

$mobile-width: 600px;
$tablet-width: 1024px;
